target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.md
.git
.gitignore
.gitattributes

.mvn/
mvnw
mvnw.cmd

*.log
*.tmp

.idea/
*.iml
.vscode/
.DS_Store

src/test/
